
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    .bar{
        background-color:rgb(238, 245, 238);    
        color:white;
   
}
.bar,li{
    text-decoration: none;
    
}
li,a{
    list-style: none;
    &:hover{
        cursor: pointer;
       
        
    }
}
.li,ul,nav{
    display: flex;
    gap:  50px;
    justify-content: space-between;
    padding: 10px;
    padding-left: 10%;
    padding-right: 20%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:x-large;
    text-decoration: none;
    &:hover{
        cursor: pointer;
      
        
    }
}
.sign{
    padding-left: 70%;
}

.pop{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    background-color: rgb(2, 49, 2);
    color: white;
    padding-bottom: 20px;
    height: 700px;
}

 .footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 50px;
}
.footer p{
    padding-left: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    &:hover{
        cursor: pointer;
    }
}
.mail span{
    margin-right: 70px;
    text-align: center;
   margin-bottom: 50px;
   padding-bottom: 0;
    gap: 20px;
    &:hover{
        cursor: pointer;
    }
}
.location{
    height: 100px;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgb(235, 231, 231);
   
}
.date{
    display: flex;
   justify-content: space-evenly;
   text-align: center;
   padding-left: 40%;
  
}
.products{
    height: 70px;
    width: 100%;
    background-color: gray;
}
.cafe{
    padding-top: 10px;
}
.head{
    padding-left: 90px;
    padding-top: 30px;
}
.bestseller{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     border: 2px;
     &:hover{
        cursor: pointer;
     }
}
.into{
    height: 250px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color:rgb(245, 240, 240);
    margin-bottom: 30px;
    &:hover{
        transform: scale(1.1);
    }
    
}
.drink{
    border: 3px;
    border-style: border;
    border-radius: 4px;
    padding-left: 30px;
    span{
        padding-left: 10px;
    }
    img{
        &:hover{
            transform: scale(1.1);
        }
    }
   
}
.para{
    display: flex;
    justify-content:space-evenly;
    padding-top: 20px;
   button{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(1, 56, 1);
    color: white;
    border-radius: 10px;
    &:hover{
        cursor: pointer;
    }
   }
}
.range{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
    ul,li{
        font-size:large;
        justify-content: space-evenly;
        padding-left: 40px;
        padding-right: 30px;
        border: 5px solid black;
        text-align: center;
        
    }
.value{
    background-color: gray;
    justify-content: space-evenly;
   
   
    
}
}
.tea{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    ol,li{
        justify-content: space-evenly;
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        padding-left: 50px;
        padding-top: 20px;
        
        
       
        
        
    }
}





